title: George Washtol
description: > # this means to ignore newlines until "baseurl:"
  Este es mi blog personal donde comparto algunos de mis pensamientos y conocimientos.
permalink: ':title/'
baseurl: "/flexible-jekyll" # the subpath of your site, e.g. /blog
url: "https://georgewashtol.com" # the base hostname & protocol for your site, e.g. http://example.com

# Author Settings
author: Jorge Toledo
author-img: jorge-toledo.jpeg
about-author: Este es mi blog personal donde comparto algunos de mis pensamientos y conocimientos. # add description
social-email: georgewashtol@gmail.com

# Disqus
discus-identifier: mr-brown # add your discus identifier

# Tracker
analytics: # Google Analytics

# Build Settings
markdown: kramdown
plugins:
  - jekyll-sitemap
  - jekyll-paginate
  - jemoji

paginate: 8
paginate_path: "/page/:num"

exclude: ["node_modules", "gulpfile.js", "package.json", "yarn.lock"]